:root {
    --fuente1: 'Courier New', monospace;
    --fuente2: 'Montserrat', sans-serif;
    --fuente3: 'Oswald', sans-serif;
    --fuente4: 'Major Mono Display', monospace;
    --fuente5: 'Quicksand', sans-serif;
    --fuente0: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    --fuente6: 'Bodoni Moda', serif;
    --fuente7: 'Lato', sans-serif;
    --fuente8: 'Consolas', 'Courier New', monospace; 
}

* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: url('../img/home4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.inicio {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.inicio h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: var(--fuente6);
    font-size: 1.7rem;
}
label {
    font-family: var(--fuente2);
}
button {
    font-family: var(--fuente2);
    padding: 0.15rem;
    margin-top: 0.2rem;
}